[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb
[submodule "extern/tinygltf"]
	path = extern/tinygltf
	url = https://github.com/syoyo/tinygltf.git
	branch = 29c431b2f23ee39e2b8d0d19de487e3c2a1d0848
